@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 216, 216);

  width: 100vw;
  height: 100vh;

  font-family: sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

#root {
  display: flex;
  gap: 15px;

  border-radius: 20px;
  border: solid 8px rgb(255, 255, 0);
  overflow: hidden;

  background-color: rgb(255, 255, 0);
}

.containerBanks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 400px;
  height: 300px;

  padding: 20px;
  background-color: rgb(17, 17, 17);

  text-align: center;
}

.listOfBanks {
  margin: 0;
  padding: 0;
  width: 100%;
}

.descrBank {
  width: 400px;
  height: 300px;

  padding: 20px;
  background-color: rgb(17, 17, 17);
}

.list {
  list-style: none;
  width: 300px;
}

.first-bank {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 56px;
  border: 2px solid rgb(255, 255, 0);
  border-radius: 10px;
  padding: 8px 10px;
  margin-bottom: 3px;
  cursor: pointer;
}

.edit,
.delete,
.buttonNewBank {
  border: 2px solid rgb(255, 255, 0);
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  padding: 5px 10px;
}

.buttonNewBank {
  margin-left: auto;
  min-width: 100px;
  cursor: pointer;
}

.bank-data-chunk {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 0px 0px 4px 4px;
  color: white;

  font-size: 20px;
}

.bank-card-title {
  color: white;
  margin-bottom: 20px;
  font-size: 30px;
}
